a.desktop {
    display: none;
}

/*sm*/
@media (min-width: 576px) {

}

/*md*/
@media (min-width: 768px) {

}

/*lg*/
@media (min-width: 992px) {
    li.mobile {
        display: none;
    }

    a.desktop {
        display: block;
    }
}

/*xl*/
@media (min-width: 1200px) {

}

/*xxl*/
@media (min-width: 1400px) {

}