<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Header</title>
    <!--
        reference to style of fragments must be found in all pages where the fragment is used
        and not in this head, because this page is never rendered
    -->
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img alt="T" src="/images/t.png" width="40">
                Turbobuy
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/sales">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item mobile">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item mobile">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
                <a class="mx-2 desktop" href="/register" sec:authorize="!isAuthenticated()">
                    <button class="btn-outline-dark btn">Register</button>
                </a>
                <a class="desktop" href="/login" sec:authorize="!isAuthenticated()">
                    <button class="btn-outline-dark btn">Login</button>
                </a>
                <a class="mx-2 desktop" href="/account" sec:authorize="isAuthenticated()">
                    <img alt="Account" src="/images/account.png" width="40">
                </a>
                <a class="desktop" href="/logout" sec:authorize="isAuthenticated()">
                    <button class="btn-outline-dark btn">Logout</button>
                </a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>